runs/obb/*
runs/aa/*
runs/obb_sr/*
region_performance_logs/*
sh_notebooks/*.pt
result_csv/*.csv
data/*
processed_data/*
raw_data/*
predict/*
hand_validation/*
hand_validation_annotated/*
handvalidation_cache_dir/*
cyclegan/*.pth.tar
regions/*
runs/*
